* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #f7f7f7;
}

@font-face {
    font-family: Norse-Bold;
    src: url(/fonts/Norse-Bold.otf);
}

.img-section {
    width: 50%;
    height: 100%;

    background-image: url(/img/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}
.overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 15%;
}
.overlay img {
    width: 110px;
    user-select: none;
}
.overlay p {
    font-family: Norse-Bold;
    font-size: 7rem;
    color: #fff;
    user-select: none;
}



.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-section p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0 50px;
}
.form-section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-section .wrapper > p {
    padding-right: 520px;
}
.form-section .wrapper form {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    padding: 50px;
}
.form-section .wrapper form p {
    color: rgba(0, 0, 0, 0.8);
    padding: 0;
}
.form-section .wrapper form .inputs {
    display: flex;
    gap: 50px;
}
.form-section .wrapper form .inputs ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form-section .wrapper form .inputs ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

label {
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
}

input {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}
input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.1);
}
input.error {
    outline: none;
    border: 1px solid darkred;
}

.pass-error {
    color: darkred;
    font-size: 10px;
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #596D48;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.3);
    margin: 20px 50px;
}
button:hover {
    background-color: rgb(107, 129, 89);
}

.form-section .log-in {
    color: rgba(0, 0, 0, 0.8);
    padding: 0;
    font-size: 11px;
    margin-left: 50px;
}
.form-section .log-in a {
    text-decoration: none;
    color: #596D48;
}
.form-section .log-in a:hover {
    text-decoration: underline;
}


